@font-face {
   font-family: 'Cafe24Ohsquare';
   font-display: swap;
   src: url('Cafe24Ohsquare/font.ttf');
}
@font-face {
   font-family: 'Cafe24Ohsquareair';
   font-display: swap;
   src: url('Cafe24Ohsquareair/font.ttf');
}
